<div *ngIf="pet">
  <h3>Details about {{pet.name}}</h3>
  <div class="container">
    <h5>Pet Type: {{pet.type}}</h5>
    <h5>Description: {{pet.description}}</h5>
    <h5>Skills:</h5>
    <li *ngIf="pet.skill1">{{pet.skill1}}</li>
    <li *ngIf="pet.skill2">{{pet.skill2}}</li>
    <li *ngIf="pet.skill3">{{pet.skill3}}</li>
    <button class='btn btn-outline-success mt-3' (click)='deletePet(pet._id)'>Adopt!</button>
    
    <button type="button" class="btn btn-outline-primary ml-3 mt-3" [routerLink]="['/']">Go Back</button>
  </div>