<button type="button" class="btn btn-primary mt-2 mb-2" [routerLink]="['/']">Home</button>
<h4>Edit this pet</h4>
<p class='text text-danger' *ngFor="let e of errors">{{ e }}</p>
<div *ngIf="pet">
  <form (submit)= "editPet()">
    <p>Pet Name: <input type="text" name="pet.name" [(ngModel)]="pet.name" class="form-control"></p>
    <p>Pet Type: <input type="text" name="pet.type" [(ngModel)]="pet.type" class="form-control"></p>
    <p>Description: <input type="text" name="pet.description" [(ngModel)]="pet.description" class="form-control"></p>
    <h5>Skills:</h5>
    <p>Skill 1: <input type="text" name="pet.skill1" [(ngModel)]="pet.skill1" class="form-control"></p>
    <p>Skill 2: <input type="text" name="pet.skill2" [(ngModel)]="pet.skill2" class="form-control"></p>
    <p>Skill 3: <input type="text" name="pet.skill3" [(ngModel)]="pet.skill3" class="form-control"></p>

    <button type="submit" class="btn btn-outline-success">Submit</button>
    <button type="button" class="btn btn-outline-danger ml-3" [routerLink]="['/']">Cancel</button>
  </form>
</div>